@{
    ViewBag.Title = "Trang chủ";
}

<div class="jumbotron"> 
    <h1>Tổ chức từ thiện</h1>
    <p class="lead">Sự sẻ chia luôn mang lại nhiều điều kỳ diệu cho cuộc sống. Dù trong bất kỳ hoàn cảnh nào, chúng ta cũng đều có thể chia sẻ và quan tâm đến người khác. Hãy nhớ rằng, khi vui vẻ và hạnh phúc thì ít nhiều bạn cũng đã tạo ra được những tác động tích cực đến những người xung quanh.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chiến dịch</h2>
        <p>
            Xem thông tin các chiến dịch đâng diễn ra, bạn có thể quyên góp cho các chiến dịch đó để hỗ trợ kịp thời cho những nơi gặp khó khăn
        </p>
        <p><a class="btn btn-default" href="https://localhost:44334/ChienDich/Index">Xem thêm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Xem thông tin trao tặng</h2>
        <p>Xem thêm các hoạt động trao tặng quà của tổ chức đến nhũng nơi gặp khó khăn, để thể hiện sự minh bạch trong hoạt động của tổ chức</p>
        <p><a class="btn btn-default" href="https://localhost:44334/Traotang/Index">Xem thêm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yêu cầu hỗ trợ</h2>
        <p>Bạn có thể cung cấp thông tin vể những nơi gặp khó khăn, để tổ chức xem xét và có những sự hỗ trợ kịp thời</p>
        <p><a class="btn btn-default" href="https://localhost:44334/Noihotro">Xem thêm &raquo;</a></p>
    </div>
</div>