
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-gradient-primary" style="align-self:center">

   
                                <div class="p-5" style="width:40%; align-self:center" >
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Chào mừng mạnh thường quân</h1>
                                    </div>

                                    @using (Html.BeginForm("Dangnhap", "User", FormMethod.Post))
                                    {
                                        @Html.ValidationSummary(true)
                                    <form class="user" style="position:center;">
                                        <h2>@ViewBag.Thongbao</h2>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   id="exampleInputEmail"
                                                   name="username"
                                                   placeholder="Nhập tài khoản..." />
                                            @ViewData["Loi1"]
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="Nhập mật khẩu..."
                                                   name="password" />
                                            @ViewData["Loi2"]
                                        </div>

                                        <input type="submit" class=" btn btn-success" value="Đăng nhập" />

                                    </form>
                         
                                    }

                                </div>
                            </div>

  

    
</body>