@model IEnumerable<NienLuanCoSo.TAIKHOAN_MTQ>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách tài khoản người dùng</h2>


<table class="table">
    <tr>
        <th>
         Mạnh thường quân
        </th>
       
        <th>
           Tài khoản
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MANHTHUONGQUAN.HOTEN_MTQ)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.TAIKHOAN)
        </td>
        
    </tr>
}

</table>
